* {
  font-family: 'Unbounded', cursive;
}

h1 {
  margin-top: 200px;
  font-size: 180px;
}

a {
  text-decoration-color: white;
  text-decoration: underline;
}

a:link{
  color:white;
}
a:visited{
  color:white;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}
